.flexContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
  background: #e5e5e5;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.flexItemLeft {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  flex: 60%;
}

.flexItemLeft img {
  /* background-color: #113089; */
  height: 100vh;
  width: 100%;
}

.flexItemRight {
  flex: 40%;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.box-login {
  margin: 64px 32px;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}
.box-login .logo {
  margin-left: auto;
  margin-right: auto;
  color: black;
  width: 30%;
}
.box-login h1 {
  text-align: center;
  margin-top: 10px;
}
